In [4]:
# Essentials
import pandas as pd
pd.set_option('display.max_columns', 100)
import csv
import numpy as np
import os

# Plots
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Stats
from scipy import stats
from scipy.stats import skew

# Connection string to MySQL db

In [10]:
%%time
import mysql.connector
conn = mysql.connector.connect(option_files='Downloads/Data/aws_mort_conn.conf')
print("Connection ID: ",conn.connection_id)

Connection ID:  3041
Wall time: 254 ms

## Count of rows in tables tables (2018 - 2012 ) with and without filter conditions for influenza related mortalities

In [ ]:

--2008
SELECT count(1) FROM cdcmortality.mortality_2018; #2839206 rows


SELECT 
    COUNT(*)
FROM
    cdcmortality.mortality_2018
WHERE
    cause_recode_358 BETWEEN 253 AND 257; # 59120
    

-- 2017
SELECT count(1) FROM cdcmortality.mortality_2017; #2813504 rows

--2017 getting influenza related rows
select count(* ) from cdcmortality.mortality_2017
where  cause_recode_358 BETWEEN 253 AND 257; #55672

# -- 2016
# SELECT count(1) FROM cdcmortality.mortality_2016; #2744248  rows

# --2016 getting influenza related rows
select 
      count(* ) 
from 
     cdcmortality.mortality_2016
where  
      cause_recode_358 BETWEEN 253 AND 257; #51537

# --2015  
SELECT count(1) FROM cdcmortality.mortality_2015; # 2712630 rows
#--2015 getting influenza related rows
select count(* ) from cdcmortality.mortality_2015
where  cause_recode_358 BETWEEN 253 AND 257; # 57062

-- 2014
SELECT count(1) FROM cdcmortality.mortality_2014; # 2626419 rows
#--2014 getting influenza related rows
select count(* ) from cdcmortality.mortality_2014
where  cause_recode_358 BETWEEN 253 AND 257; #55227

# -- 2013
SELECT count(1) FROM cdcmortality.mortality_2013; # 2596994  rows
#--2013 getting influenza related rows
select count(* ) from cdcmortality.mortality_2013
where  cause_recode_358 BETWEEN 253 AND 257; #56979

# -- 2012
SELECT count(1) FROM cdcmortality.mortality_2012; #  2543280 rows
#--2012 getting influenza related rows
select count(* ) from cdcmortality.mortality_2012
where  cause_recode_358 BETWEEN 253 AND 257;   # 50636

# Summary table gives count of mortalities by ages for all years.  Will be used to compare the count of influenza related mortalities against  total moratalities

In [6]:
## Count of mortalities by year for all conditions
# for 2018 
AgeAll2018aws = pd.read_sql_query("select year_id,cause_recode_358,age_recode_52,age_recode_27,age_recode_12,count(age_recode_52) as age_recode_52_cnt, count(age_recode_27) as age_recode_27_cnt,count(age_recode_12) as age_recode_12_cnt FROM cdcmortality.mortality_2018 group by cause_recode_358 order by age_recode_52_cnt,age_recode_27_cnt ,age_recode_12_cnt ;", conn) #    
         
AgeAll2018aws.to_csv('Downloads/Data/AgeAll2018aws.csv', index = False)

#for 2017
AgeAll2017aws = pd.read_sql_query("select year_id,cause_recode_358,age_recode_52,age_recode_27,age_recode_12,count(age_recode_52) as age_recode_52_cnt, count(age_recode_27) as age_recode_27_cnt,count(age_recode_12) as age_recode_12_cnt FROM cdcmortality.mortality_2017 group by cause_recode_358 order by age_recode_52_cnt,age_recode_27_cnt ,age_recode_12_cnt ;", conn) #    
         
AgeAll2017aws.to_csv('Downloads/Data/AgeAll2017aws.csv', index = False)

#for 2016
AgeAll2016aws = pd.read_sql_query("select year_id,cause_recode_358,age_recode_52,age_recode_27,age_recode_12,count(age_recode_52) as age_recode_52_cnt, count(age_recode_27) as age_recode_27_cnt,count(age_recode_12) as age_recode_12_cnt FROM cdcmortality.mortality_2016 group by cause_recode_358 order by age_recode_52_cnt,age_recode_27_cnt ,age_recode_12_cnt ;", conn) #    
         
AgeAll2016aws.to_csv('Downloads/Data/AgeAll2016aws.csv', index = False)

# for 2015
AgeAll2015aws = pd.read_sql_query("select year_id,cause_recode_358,age_recode_52,age_recode_27,age_recode_12,count(age_recode_52) as age_recode_52_cnt, count(age_recode_27) as age_recode_27_cnt,count(age_recode_12) as age_recode_12_cnt FROM cdcmortality.mortality_2015 group by cause_recode_358 order by age_recode_52_cnt,age_recode_27_cnt ,age_recode_12_cnt ", conn) #    
         
AgeAll2015aws.to_csv('Downloads/Data/AgeAll2015aws.csv', index = False)

# for 2014
AgeAll2014aws = pd.read_sql_query("select year_id,cause_recode_358,age_recode_52,age_recode_27,age_recode_12,count(age_recode_52) as age_recode_52_cnt, count(age_recode_27) as age_recode_27_cnt,count(age_recode_12) as age_recode_12_cnt FROM cdcmortality.mortality_2014 group by cause_recode_358 order by age_recode_52_cnt,age_recode_27_cnt ,age_recode_12_cnt ; ", conn) #    
         
AgeAll2014aws.to_csv('Downloads/Data/AgeAll2014aws.csv', index = False)

# for 2013
AgeAll2013aws = pd.read_sql_query("select year_id,cause_recode_358,age_recode_52,age_recode_27,age_recode_12,count(age_recode_52) as age_recode_52_cnt, count(age_recode_27) as age_recode_27_cnt,count(age_recode_12) as age_recode_12_cnt FROM cdcmortality.mortality_2013 group by cause_recode_358 order by age_recode_52_cnt,age_recode_27_cnt ,age_recode_12_cnt ;", conn) #    
         
AgeAll2013aws.to_csv('Downloads/Data/AgeAll2013aws.csv', index = False)

# for 2012
AgeAll2012aws = pd.read_sql_query("select year_id,cause_recode_358,age_recode_52,age_recode_27,age_recode_12,count(age_recode_52) as age_recode_52_cnt, count(age_recode_27) as age_recode_27_cnt,count(age_recode_12) as age_recode_12_cnt FROM cdcmortality.mortality_2012 group by cause_recode_358 order by age_recode_52_cnt,age_recode_27_cnt ,age_recode_12_cnt ; ", conn) #    
         
AgeAll2012aws.to_csv('Downloads/Data/AgeAll2012aws.csv', index = False)

# Extracting records for cause_recode_358 BETWEEN 253 AND 257 from 2012-2018

In [11]:
%%time
# host = cdcmortdb.cbd1ivxdzkbb.us-east-1.rds.amazonaws.com
# port = 3306
# user = mortalityMaster
# password = mortality1234
# db = cdcmortality
m2018aws = pd.read_sql_query("SELECT * FROM mortality_2018 WHERE cause_recode_358 BETWEEN 253 AND 257;", conn) # 59120
m2018aws.to_csv('Downloads/Data/InflzaMrtlity2018.csv', index = False)

#2017
m2017aws = pd.read_sql_query("SELECT * FROM mortality_2017 WHERE cause_recode_358 BETWEEN 253 AND 257;", conn) #55672 
m2017aws.to_csv('Downloads/Data/InflzaMrtlity2017.csv', index = False) 

#2016
m2016aws = pd.read_sql_query("SELECT * FROM mortality_2016 WHERE cause_recode_358 BETWEEN 253 AND 257;", conn) #51537
m2016aws.to_csv('Downloads/Data/InflzaMrtlity2016.csv', index = False)

#2015
m2015aws = pd.read_sql_query("SELECT * FROM mortality_2015 WHERE cause_recode_358 BETWEEN 253 AND 257;", conn) # 57062
m2015aws.to_csv('Downloads/Data/InflzaMrtlity2015.csv', index = False)

#2014
m2014aws = pd.read_sql_query("SELECT * FROM mortality_2014 WHERE cause_recode_358 BETWEEN 253 AND 257;", conn) #55227  
m2014aws.to_csv('Downloads/Data/InflzaMrtlity2014.csv', index = False)

#2013
m2013aws = pd.read_sql_query("SELECT * FROM mortality_2013 WHERE cause_recode_358 BETWEEN 253 AND 257;", conn) #56979 
m2013aws.to_csv('Downloads/Data/InflzaMrtlity2013.csv', index = False)

#2012
m2012aws = pd.read_sql_query("SELECT * FROM mortality_2012 WHERE cause_recode_358 BETWEEN 253 AND 257;", conn) # 50636
m2012aws.to_csv('Downloads/Data/InflzaMrtlity2012.csv', index = False)



# m2018aws.to_csv(r'Downloads\Data\mort_2018.csv\InflzaMrtlity2018.csv', index = False)
# m2018_cnt= pd.read_sql_query("SELECT count(1) FROM mortality_2018", conn)



# m2018aws = pd.read_sql_query("SELECT * FROM mortality_2018 WHERE RAND() <0.25", conn)
# m2017aws = pd.read_sql_query("SELECT * FROM mortality_2017 WHERE RAND() <0.25", conn)
conn.close()

Wall time: 4min 12s

# Creating/Padding  lookup tables for code_recode_358 and age related codes

In [16]:
# mapping descriptions to the cause_recode_358
 
acc_desc = {'cause_recode_358_desc': ['Influenza','Pneumonia','Vrl pneumonia','Bctrl pneumonia','Pneumonia Unspc'],
        'cause_recode_358': [253,254,255,256,257]
        }

acc_desc_df = pd.DataFrame(acc_desc, columns = ['cause_recode_358', 'cause_recode_358_desc'])

acc_desc_df.to_csv('C:/Users/19082/Downloads/Data/Lookup/cause_recode_358_LKP.csv', index = False)

print (acc_desc_df)

#Importing age related looksups
age_27=pd.read_excel('Downloads/Data/Lookup/age_27_rev_LKP.xlsx')
age_27['age_recode_27'] = age_27['age_recode_27'].astype(str)
age_27['age_recode_27'] = age_27['age_recode_27'].str.zfill(2)
######################################################################
age_12=pd.read_excel('Downloads/Data/Lookup/age_12_rev_LKP.xlsx')
#COnverting int to obj type followed  by str type and padding
age_12['age_recode_12'] = age_12['age_recode_12'].astype(str)
age_12['age_recode_12'] = age_12['age_recode_12'].str.zfill(2)
######################################################################
age_52=pd.read_excel('Downloads/Data/Lookup/age_52_rev_LKP.xlsx')
#COnverting int to obj type followed  by str type and padding
age_52['age_recode_52'] = age_52['age_recode_52'].astype(str)
age_52['age_recode_52'] = age_52['age_recode_52'].str.zfill(2)
######################################################################
Rpt_Age_tmpstmp=pd.read_excel('Downloads/Data/Lookup/Rpt_Age_tmpstmp.xlsx')

   cause_recode_358 cause_recode_358_desc
0               253             Influenza
1               254             Pneumonia
2               255         Vrl pneumonia
3               256       Bctrl pneumonia
4               257       Pneumonia Unspc